<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    {{#users}}
    <div class="users" id="user-{{id}}">
      <img src="{{avatar}}" alt="avatar picture">
      <div class="users-info">
        <h3>{{name}}</h3>
        {{#job}}<p>{{job}}, {{company}}</p>{{/job}}
        {{^job}}<p>Available for hire</p>{{/job}}
      </div>
    </div>
    {{/users}}
  </body>
</html>
